apiVersion: v1
kind: Secret
metadata:
  name: "{{ datadog_secret_name }}"
  namespace: "{{ datadog_namespace }}"
type: Opaque
data:
  api-key: "{{ lookup('community.hashi_vault.vault_kv2_get',
                        hashicorp_vault_datadog_path,
                        engine_mount_point=hashicorp_vault_datadog_mount_point,
                        auth_method='userpass',
                        username=hashicorp_vault_ansible_username,
                        password=hashicorp_vault_ansible_password,
                        url=hashicorp_vault_server)['secret'].api_key | b64encode }}"
